<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>mruby build & test report</title>
  </head>
  <body>
    <b>mruby build & test report</b>
    <% @gitlog.each do |reponame, val| %>
      <% filepath = File.join(REPORT_DIR, "#{reponame}.html") %>
      <% if File.exist? filepath %>
        <a href="<%= reponame %>.html" target="body"><%= reponame %></a>
      <% end %>
    <% end %>
  </body>
</html>

