<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>mruby build & test report</title>
    <frameset rows="50,*">
      <frame src="frame_menu.html" name="menu"/>
      <% default_report = "iij-mruby" %>
      <% if @gitlog.first and @gitlog.first.first %>
        <% filepath = File.join(REPORT_DIR, "#{@gitlog.first.first}.html") %>
        <% default_report = @gitlog.first.first if File.exist? filepath %>
      <% end %>
      <frame src="<%= default_report %>.html" name="body"/>
    </frameset>
  </head>
  <body>

  </body>
</html>
